.filters {
  display: flex;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  right: 0;
  left: 0;

  &__item {
    padding-left: 3px;
    label {
      padding: 4px 7px;
    }
  }

  input[type='radio'] {
    display: none;

    &:checked + label {
      border: 1px solid transparent;
      border-color: rgba(175, 47, 47, 0.1);
      border-radius: 3px;
    }

    &:not(:checked) + label {
      cursor: pointer;
    }
  }
  @media (max-width: 430px) {
    bottom: 10px;
  }
}
