{
  "extends": [
    "react-app",
    "airbnb",
    "airbnb/hooks",
    "plugin:react/jsx-runtime",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-unused-vars": "warn"
  }
}